        /* CSS for h1 element */
h1 {
        color: lightblue;
        text-transform: uppercase;
        margin-left:100px;
    }
    /* CSS for the form element */
form {
        font-family: "Times New Roman", Times, serif;
        margin-left:100px;    
    }
button {
        background-color: lightblue;
        height: 100%;
        font-size: large;
        margin-right: 200px;
    }

.sidebar {
        width: 50px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: lightblue;
        padding: 20px;
    }
.content {
        margin-left: 220px; /* Adjust this value to make space for the sidebar */
        padding: 20px;
    }